<div class="card bg-light mt-2" *ngIf="productService.loading">
  <div class="card-body text-center">
    <h2>Ürün geliyor...</h2>
    <div class="spinner-grow text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-secondary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-success" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-danger" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-warning" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-info" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-light" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-dark" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

</div>


<div class="card text-dark bg-white border-danger mt-2" *ngIf="!productService.loading">
  <div class="card-header bg-dark text-center border-danger">
    <h1 class="card-title text-white">{{product.name | uppercase}}</h1>
  </div>
  <div class="card-body bg-white">
    <div class="row">
      <div class="col-md-4">
        <img width="200px" height="300px" [src]="product.imageUrl" class="card-img">
      </div>
      <div class="col-md-8">
        <p class="card-text">{{product.description}}</p>
      </div>
    </div>
  </div>
  <div class="card-footer bg-dark border-danger">
    <h3 style="display: inline-block;">
      <span class="badge rounded-pill bg-white text-dark">
        <i class="fa fa-money-bill"></i> Ürün Fiyat: {{product.price}} TL
      </span>
    </h3>

    <span style="margin-right: 1rem;"></span>

    <h3 style="display: inline-block;">
      <span class="badge rounded-pill bg-white text-dark">
        Ürün Adet: {{product.stockQuantity}}
      </span>
    </h3>

    <span style="margin-right: 1rem;"></span>

    <h3 style="display: inline-block;">
      <span class="badge rounded-pill bg-white text-dark">
        Kategori: {{category.name}}
      </span>
    </h3>
    <a (click)="add(product.id,product.price)" class="btn btn-primary btn-sm float-end"><i class="fa fa-basket-shopping"></i> Sepete Ekle</a>
    <div class="float-end" style="margin-right: 10px;">
      <span style="color: white;">Ürün Adedi </span>
      <input  style="display: inline-block;" type="number" [(ngModel)]="productQuantity">
    </div>
  </div>
</div>
