<div class="card border-primary mb-3" style="max-width: 18rem;">
  <div class="card-header">Kategoriler</div>
  <div class="card-body text-primary">
    <div *ngIf="categories.length == 0" class="d-flex justify-content-center">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <h5 *ngFor="let category of categories">
      <strong>
        <!-- kategori/elektronik/1 -->
        <a [routerLink]="['/kategori',category.name | urlformat ,category.id]" class="btn btn-link"><i class="fa fa-arrow-circle-right"> {{category.name}}</i></a>
      </strong>
    </h5>
  </div>
</div>
